/Projects/ble/ColomoBLE/CC2541DB/CC2541
/Projects/ble/ColomoBLE/CC2541DB/CC2541-OAD-ImgA
/Projects/ble/ColomoBLE/CC2541DB/CC2541-OAD-ImgA-Sun
/Projects/ble/ColomoBLE/CC2541DB/CC2541-OAD-ImgB
/Projects/ble/ColomoBLE/CC2541DB/CC2541-OAD-ImgB-Sun
